header {
  background-color: #999999;
  padding: 20px 0;
}

.box{
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav{
    position: absolute;
    right: 0;
    top: 125px;

}

nav li {
  display: inline;
  margin-left: 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 1.5rem;
    text-decoration: none;

}
