
.titulo-principal{
    padding-left: 20px;
}

#banner{
    width: 100%;
    height: fit-content;
}

.principal{
    background-color: #000000;
    color: #FFFFFF;
    padding: 30px;
    margin: 10px 0;
}

.titulo-centralizado{
    text-align: center;
}


p{
    text-align: center;
}

#missao{
    font-size: 20px;
}

p em strong{
    color: #ff0000;
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.item{
    font-style: italic;
}

.beneficios{
    background-color: #FFFFFF;
    padding: 20px ;
}

.imgbeneficios{
    width: 50%;
}
